*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: lightblue; */
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    flex-direction: column;
    font-family: 'Viga', sans-serif;
    background-image: url("../images/mintbean-dome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; 
    color: #F1FFF6;
}
.navbar{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    /* position: absolute;
    right: 0;
    top:0 ;
    width: 100%; */
    /* position: relative; */
}

.navbar-brand{
    /* max-width: 70vw */
}

.navbar-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    
}
.navbar-list ul li{
    padding: 2px;
    /* align-items: center; */
    /* color: white; */
}
a{
    text-decoration: none ;
    color: #F1FFF6;
}
.navbar-line{
    /* padding: 10px; */
}

.header-card{
    border: 2px solid #5EF4D6;
    border-radius: 10px;
    background-color: #221727c9 ;
    /* text-align: center; */
    width: 93%;
    margin: 20px auto;
    /* padding: 20px; */
}
.header-title, .header-body, #header-btn{
    padding: 10px 20px;
    line-height: 1.6;
}
.header-title, #header-btn{
    text-transform: uppercase;
    /* font-weight: bold; */
}
.header-body, #header-btn{
    /* font-weight: lighter; */
    font-family: 'Rubik', sans-serif;
}
#header-btn, .navbar-btn{
    background-color: #5EF4D6;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;

   
}

/* 600px, 900px, 1200px, and 1800px */

@media only screen and (max-width: 600px) {
    .header-card {
      text-align: center;
    }
    #header-btn {
        margin: 1%;
        padding:10px 40px; 
      }
  }

@media only screen and (min-width: 600px) {
    #header-btn {
      margin: 2%;
    }
    .header-card {
        width: 45%;
        margin: 20px ;
    }
    .navbar-list ul{
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 1% 5%
    }
  }

